<h3>Add a new animal</h3>
<form [formGroup]="form" (ngSubmit)="save()">
    <div class="container">
    <mat-form-field>    
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="name" required>
    </mat-form-field>
    <button mat-fab color="warn" type="submit">
     <mat-icon>plus_one</mat-icon>
    </button>
</div>
</form>

<mat-divider></mat-divider>
<h3>Animals</h3>
<mat-list>  
    <mat-list-item *ngFor="let animal of animals">  
         
        <button mat-mini-fab color="warn" (click)="remove(animal.name)"  matListItemIcon>  <mat-icon>delete</mat-icon></button> 
      <div>{{animal.name}}</div>          
    </mat-list-item>  
 </mat-list>
